nav{
  width: 100vw;
  height: 90px;
  background-color: #b29376
}
ul{
  padding: 0;
  display: inline-flex;
}
body{
  margin: 0;
  overflow: hidden;
}
li{
  list-style-type: none;
}
a{
  font-family: 'Lato', sans-serif;
  font-weight: 700;
  text-decoration: none;
  color: #e3d7c9;
  transform: translate(0%,50%);
  text-align: center;
  padding-left: 2vw;
  padding-right: 2vw;
  display:  block;
  font-size: 30px;
}

a:hover{
  background-color: #e3d7c9;
  text-decoration: none;
  display: block;
  width: 100%;
}

.pokefont {
  text-decoration: none;
  font-family: 'Acme', sans-serif;
  color: black;
  padding: 20px;
  font-size: 55px;
}

.pokefont_small {
  font-family: 'Acme', sans-serif;
  color: black;
  margin-top: 20px;
  font-size: 35px;
}

.textlarge {
  font-family: 'Lato', sans-serif;
  font-weight: 800;
  text-decoration: none;
  color: black;
  padding-top: 30px;
  padding-bottom: 40px;
  padding-left: 30px;
  padding-right: 30px;
  display: block;
  font-size: 40px;
  color: #e3d7c9
}

.textfont {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  text-decoration: none;
  color: black;
  padding-top: 10px;
  padding-bottom: 20px;
  padding-left: 30px;
  padding-right: 30px;
  display: block;
  font-size: 20px;
}
.yellowback {
  height: 100vh;
  width: 100vw;
  position: fixed;
  margin-top: 90px;
  z-index: 1;
  left: 0;
  top: 0;
  padding-top: 20px;
  background-color: #fbaa1d;

}

.center_top {
  position: absolute;
  left: 50%;
  width: 100vw;
  height: 90vh;
  text-align: center;
  transform: translate(-50%,0%);
  overflow-x: hidden;
  overflow-y: scroll;
  background-color: #fbaa1d;
}
.center_top img {
  border-radius: 1%;
}

.centered img {
  width: 300px;
  height: 300px;
  border-radius: 1%;
}
