<!DOCTYPE html>
{% extends 'index.html' %}

{% block content %}
    <h1>Home</h1>
  </p1>Welcome to PokeSleep</p1>

    <link rel="stylesheet" href="/static/css/trial.css">

    <div class="split left">
      <div class="centered">
        <img src={{ url }} alt="LightDogsLogo" border="1px">
        <h2>PokeSleep</h2>
      </div>
    </div>

    <div class="split right">
      <div class="centered">
        <h4>LightDogs is a Web App aimed at Pet Product Companies. By correlating light levels and tweets using the word
            'Dog', LightDogs can predict at what time marketing would be most effective for your business. </h4>
      </div>
    </div>

{% endblock %}
