<!DOCTYPE html>
<html>
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

        <!--Custom CSS in main.css-->
        <link rel="stylesheet" type="text/css" href="../static/css/trial.css">
        <link href="https://fonts.googleapis.com/css?family=Lato:400,700&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Acme&display=swap" rel="stylesheet">
        {% if title %}
          <title>{{ title }} - PokeSleep</title>
        {% else %}
          <title>Welcome to PokeSleep</title>
        {% endif %}

    </head>

    <body>
        <!--Header Bar-->
        <header class="site-header">
          <nav>
            <ul>
              <li>
                <b class="pokefont" href="/home"> PokeSleep </b>
              </li>
              <li>
                <a href="/home"> Home </a>
              </li>
              <li>
                <a href="/about"> About </a>
              </li>
              <li>
                <a href="/pokemon"> Pokemon </a>
              </li>
              <li>
                <a href="/legends"> Legends </a>
              </li>
            </ul>
          </nav>
        </header>

        <div class="container">
          <h1>Home</h1>
        </p1>Welcome to PokeSleep</p1>

          <link rel="stylesheet" href="/static/css/trial.css">

          <div class="split left">
            <div class="centered">
              <img src={{ url }} alt="LightDogsLogo" border="5">
              <h2 class="pokefont">{{ name }}</h2>
              <p class="textfont">{{ description }}</p>
            </div>
          </div>

          <div class="split right">
            <div class="block1">
              <p class="textlarge">{{ tip }}</p>
            </div>
            <div class="block2">
              <h4 class="textfont"> Local Weather Condition </h4>
              <table>
            <tr>
              <th>Temperature</th>
              <th>Weather Status</th>
              <th>Wind Speed</th>
              <th>Atmospheric Pressure</th>
              <th>Humidity</th>
              <th>Cloud</th>
            </tr>
            <tr>
              <td>{{ temp }}</td>
              <td>{{ stat }}</td>
              <td>{{ wind }}</td>
              <td>{{ pressure }}</td>
              <td>{{ humidity }}</td>
              <td>{{ cloud }}</td>
            </tr>
          </table>
            </div>
            </div>
          </div>
        </div>

        <hr>
    </body>
</html>
