<!DOCTYPE html>
<html>
<head>
		<!-- Required meta tags -->
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<meta http-equiv="cache-control" content="no-cache">
		<!-- Bootstrap CSS -->
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

		<!--Custom CSS in main.css-->
		<link rel="stylesheet" type="text/css" href="../static/css/timeline.css">
		<link href="https://fonts.googleapis.com/css?family=Lato:400,700&display=swap" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css?family=Acme&display=swap" rel="stylesheet">

</head>
<body>
		<!--Header Bar-->
    <header>
      <nav>
        <ul>
          <li>
            <b class="pokefont" href="/home"> PokéSleep </b>
          </li>
          <li>
            <a href="/home"> Home </a>
          </li>
          <li>
            <a href="/about"> About </a>
          </li>
          <li>
            <a href="/pokemon"> Pokémon </a>
          </li>
          <li>
            <a href="/timeline"> Timeline </a>
          </li>
          <li>
            <a href="/insight"> Insight </a>
          </li>
        </ul>
      </nav>
    </header>
    <script type="text/javascript" src="https://cdn.bokeh.org/bokeh/release/bokeh-1.4.0.min.js"></script>
    <script type="text/javascript" src="https://cdn.bokeh.org/bokeh/release/bokeh-api-1.4.0.min.js"></script>
    <script type="text/javascript" src="https://cdn.bokeh.org/bokeh/release/bokeh-widgets-1.4.0.min.js"></script>
    <script type="text/javascript" src="https://cdn.bokeh.org/bokeh/release/bokeh-tables-1.4.0.min.js"></script>
    <div align="center">

    <h2 class="pokefont_small"> select a date, interval, and data category from below: </h2>
    <br>
    <form action="/timeline">
      <select name="dates">
      	{% for feature in dates %}
      		{% if feature == current_date %}
      			<option selected value="{{ feature }}">{{ feature }}</option>
      		{% else %}
      			<option value="{{ feature }}">{{ feature }}</option>
      		{% endif %}
      	{% endfor %}
      </select>
      <select name="intervals">
      	{% for feature in intervals %}
      		{% if feature == current_interval %}
      			<option selected value="{{ feature }}">{{ feature }}</option>
      		{% else %}
      			<option value="{{ feature }}">{{ feature }}</option>
      		{% endif %}
      	{% endfor %}
      </select>
      <select name="variables">
        {% for feature in variables %}
      		{% if feature == current_variable %}
      			<option selected value="{{ feature }}">{{ feature }}</option>
      		{% else %}
      			<option value="{{ feature }}">{{ feature }}</option>
      		{% endif %}
      	{% endfor %}
      </select>
      <input type="submit", value="Update">
      </form>
    <br><br><br>
    <h2 class="plot_heading"> sound number plot on {{ current_date }}</h2>
    {{ s1|safe }}
    {{ div1|safe }}
    <br><br>
    <h2 class="plot_heading"> {{ current_variable }} plot on {{ current_date }}</h2>
    {{ s2|safe }}
    {{ div2|safe }}
    <br><br>
    <h2>historical data at {{ current_interval }} interval up to {{ current_date }}</h2>
    <br>
    <h2 class="plot_heading"> sound number plot</h2>
    {{ s3|safe }}
    {{ div3|safe }}
    <br><br>
    <h2 class="plot_heading"> room temperature plot</h2>
    {{ s4|safe }}
    {{ div4|safe }}
    <br><br>
    <h2 class="plot_heading"> atmospheric pressure plot</h2>
    {{ s5|safe }}
    {{ div5|safe }}
    </div>
  </body>
</html>
